*{
    margin: 0;
    padding: 0;
    font-family: poppins, Helvetica, sans-serif;
}
body{
    background-color: #07090F;
    color: white;
    opacity: 0.9;
}

nav ul{
    display: flex;
    justify-content: right;
    padding: 2rem;
}

nav li{
    list-style-type: none;
    padding: 0px 30px 0px 30px;
    font-size: 1.5rem;
    opacity: 0.5;
}

a{
    text-decoration: none;
    color: white;
    
}

nav li:hover{
    text-decoration: underline;
    transition: all .3s ease-in-out;
    opacity: 1;
    color: white;
    text-shadow: 0 0 20px white;
}

.profile-container{
    width: 100vmax;
}
.profile-container{
    display: flex;
}
#profile{
    width: 50%;
}

img{
    width: 100vmin;
    height: 85vmin;
    object-fit: cover;    
    border-radius: 20px;
}

#information{
    width: 100%;
    padding: 50px 70px 50px 0;  
    margin-left: -100px;
    
}

.profile-content{
    width: 80%;  
    background-color:#333;
    height: 65%;
    display: flex;   
    padding: 90px 70px 50px 70px;  
    flex-direction: column;
    align-items: center;
    margin: auto;   
    gap: 1rem;
}

.social-media{
    display: flex;
    flex-wrap:wrap;
    gap: 1rem;
    margin-top: 1rem;
}
.social-media a{
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.3rem;
    width: 30px;
    height: 25px;
    display: grid;
    place-items: center;
}

.social-media a:hover{
    transform: scale(1.1);
    color: black;
    background-color: white;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 20px  white;
}

.animated-text h1{
    -webkit-text-stroke: 1px white;
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    background-repeat:no-repeat ;
    background-image: linear-gradient(#f0e3f5, #AF2BBF);
    -webkit-background-clip: text;
    background-clip: none ;
    background-position: -500px 0;
    animation: backcolor 5s linear infinite;
    text-shadow: 0 0 20px white;
}
@keyframes backcolor {

    100% {
        -webkit-text-stroke: 1px #A14EBF;
        background-position: 0 0;
    }
}

.cv-btn{
    border-radius: 25px;
    margin: auto;
    padding: 8px 16px;
    border-radius: 1px solid #1446A0;
    background-color: inherit;
    color: white;
}

.cv-btn:hover{
    background-color: #1446A0;
    color: white;
    transform: scale(1);
    transition: all .3s ease-in-out;
    
}

.center{
    text-align: center;
}

.font{
    font-size: 1.5rem;
}

.heading{
    padding: 20px 0px;

    width: 100%
}

.contain{
    display: flex;
    padding: 10px 0px;
}

.contain-heading{
    padding-left:200px;
    width: 30%;
}

.contain-description{
    width: 70%;
    padding-right: 50px;
    text-align: justify;
}

.description{
    padding-top: 10px;
}
.title{
color: #FBB13C;
}
.timeline{
    padding-bottom: 10px;
}


